    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    :root{
        --pink-red:hsl(0, 93%, 68%);
        --softred-color:hsl(0, 36%, 70%);
        --gray-red: hsl(0, 6%, 24%);
    }

    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }

    body{
        min-height: 100vh;
        background-image: linear-gradient( hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }
    
    .logo{
        margin: 1.5em 1.5em;
        transform:scale(0.8);
    }
    .backimage {
        background-image: url("./images/hero-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        min-height: 250px;
    }
    
    section{
        text-align: center;
        margin:3em auto;
        width:100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width:500px;
    }
}
    .welcome{
        margin: 10%;
        width:100%;
        align-content: center;
        text-align:center;
    }

    .welcome h1{
        color: var(--softred-color);
        font-size: 2.5em;
        letter-spacing: 15px;
        font-weight: 300;
        text-transform: uppercase;
    }
 
    .welcome span{
        color: var(--gray-red);
        font-weight: 600;
    }

    .welcome p{
        font-size: 13px;
        color: var(--softred-color);
        font-weight:400;
        line-height: 150%;
        padding: 2em 3em;
    
    }
   /*----FORM-----*/
    #form_email {
        border:0.5px solid var(--softred-color);
        border-radius: 50px;
        height: 40px;
        width: 70%;
        margin: 0em auto;
        display: flex;
        transition: border 0.5s;
        padding: 0%;
        justify-content: space-between;
    }
    #form_email .icons{
        display: flex;
        align-items: center;
    }
   
    #form_email .arrow {
        float: right;
        
        border-radius: 50px;
        border: none;
        width:60px;
        height: 100%;
        text-decoration: none;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        transition: 0.5s;
        box-shadow: 0 5px 15px 0 hsl(0, 40%, 86%), 0 6px 17px 0 hsl(0, 36%, 70%);   
    }
    #form_email .arrow:hover{
        background-image: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
        transition: all 0.4s ease 0s;
        box-shadow: 0 12px 16px 0 hsl(0, 74%, 74%),0 16px 40px 0 hsla(0, 93%, 68%, 0.295);
    }
    #warning{
    color: var(--softred-color);
    font-size: 12px;
    margin-left:3em ;
    margin-top: 2em;
    font-weight: 300;
    width: 70%;
    text-align: center;
    }
    #warning_img{

     outline: none;
     border: none;
    pointer-events: none;
        
    }
    #form_email input{
        border: none;
        background-color: transparent;
        width:60%;
        margin-left:2em;
   
     
    }
    #form_email input:focus{
        outline: none;
        display: block;
    }
    ::placeholder{
        color:var(--softred-color);
        text-align: left;
      
    }
    

 

      


    /*Media queries: desktop  screen*/
    @media screen and (min-width: 1000px) {
    .logo{
        margin: 3em 150px;        
        padding:0;
        transform:scale(1);
        }

    body{
       
        background-image: url("./images/bg-pattern-desktop.svg"),linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        background-position: left bottom;
        background-size:80vw;
        background-repeat: no-repeat;
        position: relative;
 
    }
    .hero{
        background-image: url("./images/hero-desktop.jpg");
        background-repeat: no-repeat;
        float:right;
        width:40vw;
        height:100vh;
   

    }
    
    .backimage{
         display: none;    
         position: relative;
     }

    section{
        
        text-align: left;
        float: left;
        height: 100%;
        width:100%;
        padding:0;
        margin: -7% 0 0 8%;

        position: absolute;
    }
    .welcome h1{
        margin-left: 3rem;
        font-size: 3.7em;
        align-content: center;
        
    }
    .welcome span{
        font-weight:600;
    }
    .welcome p{
        margin-top: 10px;
        font-size: 16px;
        width: 100%;
    }
 
    #form_email{
        
        align-items: left;
        height: 60px;
        width:100%;
    }
    ::placeholder {
        font-size:16px;
    }
     #form_email .arrow {
        float: right;
        border: none;
        width:90px;
        text-decoration: none;
       
        


    }
}



 
    